/* General Styles */
body {
    font-family: 'Poppy', sans-serif;
    background-color: #232323; /* Beige background */
    margin: 0;
    padding: 0;
    color: #3E3B36; /* Dark grayish brown */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    flex-direction: column;
}

/* Root Element */
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Beige background */

}

/* App Component */
.App {
    max-width: 1200px; /* Reduce the size of the app container */
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(35, 35, 35); /* Background for the content */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for better separation */
}

/* Header Styles */
h1, h2 {
    color: #6F4F37; /* Cappuccino color */
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

/* Additional Styling for Accessibility */
a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
